In [ ]:
import pandas as pd

data = pd.read_excel('/content/data.xlsx')
data["Rating "] = data['Rating '].astype('int')
data["Número "] = data['Número '].astype('int')
data["Altura "] = data['Altura '].astype('int')
data["Peso "] = data['Peso '].astype('int')

y = data['Rating '] 
x = data[['Número ', 'Altura ', 'Peso ']]

from sklearn import linear_model
reg = linear_model.Ridge(alpha=.5)
reg.fit(x,y)
#reg.coef_
reg.score(x,y)

0.07804550294486523

In [ ]:
"""print(data['Número '].corr(data['Altura ']))
print(data['Altura '].corr(data['Rating ']))
print(data['Rating '].corr(data['Peso ']))
print(data['Rating '].corr(data['Número ']))"""

data.corr()

          Número    Altura      Peso    Rating
Número   1.000000 -0.901854 -0.858502  0.084382
Altura  -0.901854  1.000000  0.909449 -0.073766
Peso    -0.858502  0.909449  1.000000 -0.178931
Rating   0.084382 -0.073766 -0.178931  1.000000